<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      xmlns:r="http://typo3.org/ns/CaptchaFox/CaptchaFoxTypo3/ViewHelpers"
      data-namespace-typo3-fluid="true">

<formvh:renderRenderable renderable="{element}">
    <r:form.captchaFox>
        <f:if condition="{captchafox.disabledReason}">
            <f:then>
                <div class="captchafox-disabled">
                    <f:translate key="LLL:EXT:captchafox_official/Resources/Private/Language/locallang.xlf:notice.{captchafox.disabledReason}"/>
                </div>
            </f:then>
            <f:else>
                <f:render partial="Field/Field"
                          arguments="{element: element, doNotShowLabel: element.renderingOptions.doNotShowLabel}"
                          contentAs="elementContent">

                    <f:comment>form.js renders the widget into this container and writes the token into the field named in data-captchafox-field.</f:comment>
                    <div class="captchafox"
                         data-captchafox-typo3=""
                         data-captchafox-field="{element.uniqueIdentifier}"
                         data-sitekey="{captchafox.siteKey}"
                         data-mode="{element.renderingOptions.displayMode}"
                         data-lang="{captchafox.language}"></div>

                    <f:form.hidden
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            data="{captchafox-form-field: ''}"
                            value=""
                    />

                    <f:asset.script identifier="captchafox_form"
                                    src="EXT:captchafox_official/Resources/Public/JavaScript/Frontend/form.js"/>
                    <f:asset.script identifier="captchafox" async="true" defer="true" src="{captchafox.scriptUrl}"/>

                </f:render>
            </f:else>
        </f:if>
    </r:form.captchaFox>
</formvh:renderRenderable>
</html>
